.content{
    margin: auto;
}


@media (min-width: 576px) {
    .content {
        width: 90%;
    }
}


@media (min-width: 768px) {
    .content {
        width: 80%;
    }
}


@media (min-width: 992px) {
    .content {
        width: 70%;
    }
}


@media (min-width: 1200px) {
    .content {
        width: 50%;
    }
}